@font-face {
  font-family: "iconfont"; /* Project id 3430373 */
  src: url('https://at.alicdn.com/t/c/font_3430373_u7lyzhm6yf.woff2?t=1684482107154') format('woff2'),
       url('https://at.alicdn.com/t/c/font_3430373_u7lyzhm6yf.woff?t=1684482107154') format('woff'),
       url('https://at.alicdn.com/t/c/font_3430373_u7lyzhm6yf.ttf?t=1684482107154') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 28px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-right:before {
  content: "\e642";
}

.icon-fenxiang:before {
  content: "\e601";
}

.icon-daifukuan01:before {
  content: "\e626";
}

.icon-dizhi:before {
  content: "\e641";
}

.icon-lingquanzhongxin:before {
  content: "\e8e7";
}

.icon-english:before {
  content: "\e605";
}

.icon-iconzhengli_tiaozhuan:before {
  content: "\e648";
}

.icon-zhibo:before {
  content: "\e660";
}

.icon-huiyuan:before {
  content: "\e65f";
}

.icon-shoucang:before {
  content: "\e666";
}

.icon-daifahuo:before {
  content: "\e600";
}

.icon-tuikuan:before {
  content: "\e75a";
}

.icon-daishouhuo:before {
  content: "\e64e";
}

.icon-caidan:before {
  content: "\e608";
}

.icon-pingjia:before {
  content: "\e615";
}

.icon-dingdan:before {
  content: "\e897";
}

.icon-qianbao:before {
  content: "\e613";
}

.icon-zuji:before {
  content: "\e88e";
}

.icon-shezhi:before {
  content: "\e70f";
}

.icon-gonggao:before {
  content: "\e846";
}

.icon-kefu:before {
  content: "\e88f";
}

.icon-saoyisao:before {
  content: "\e891";
}

.icon-gouwuche:before {
  content: "\e70b";
}

.icon-sousuo1:before {
  content: "\e607";
}

.icon-xiaoxizhongxin:before {
  content: "\e665";
}

.icon-sousuo:before {
  content: "\e86e";
}

.icon-left:before {
  content: "\e628";
}
