@font-face {
  font-family: "iconfont"; /* Project id 3430373 */
  src: url('//at.alicdn.com/t/c/font_3430373_qig4c50lckh.woff2?t=1681954616096') format('woff2'),
       url('//at.alicdn.com/t/c/font_3430373_qig4c50lckh.woff?t=1681954616096') format('woff'),
       url('//at.alicdn.com/t/c/font_3430373_qig4c50lckh.ttf?t=1681954616096') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gonggao:before {
  content: "\e846";
}

.icon-kefu:before {
  content: "\e88f";
}

.icon-saoyisao:before {
  content: "\e891";
}

.icon-gouwuche:before {
  content: "\e70b";
}

.icon-sousuo1:before {
  content: "\e607";
}

.icon-xiaoxizhongxin:before {
  content: "\e665";
}

.icon-sousuo:before {
  content: "\e86e";
}

.icon-left:before {
  content: "\e628";
}
